body 	{
		margin: 10;
		padding: 10;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}


.banner h1 	{
		
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
			font-weight: bold;
		}


	
